*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
*.pdf
*.ps
*.toc
*.out
*.snm
*.nav
*.synctex.gz*
knitr-cache
.RData
.RHistory
.DS_Store
*.docx

*.html

knitr-example.Rmd
knitr-talk.Rnw
rmark-exercise_cache/
rmark-exercise_files/
/rmark-pdf-example.tex
